<section
  id="contact"
  class="relative w-full bg-slate-900 py-20 px-4 text-slate-50 scroll-m-[75px]"
>
  <div class="w-full max-w-3xl mx-auto">
    <h2 class="w-full font-extrabold text-3xl md:text-4xl text-center mb-8">
      CONNECT WITH ME
    </h2>
    <form
      class="w-full mt-8 space-y-6"
      (ngSubmit)="onSubmit(contactForm)"
      #contactForm="ngForm"
    >
      <!-- Name -->
      <div class="relative">
        <fa-icon
          [icon]="faUser"
          class="absolute left-3 top-1/2 transform -translate-y-1/2 text-slate-400"
        ></fa-icon>
        <input
          #name="ngModel"
          [(ngModel)]="contactFormData.name"
          class="bg-transparent border-2 w-full px-10 py-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-400 transition duration-300"
          [ngClass]="{
            'border-red-500': !name.value && name.dirty,
            'border-slate-600': name.value || !name.dirty
          }"
          placeholder="Name *"
          type="text"
          name="name"
          id="name"
          required
        />
      </div>
      <small *ngIf="!name.value && name.dirty" class="text-red-500 px-2"
        >This field is required!</small
      >

      <!-- Email -->
      <div class="relative">
        <fa-icon
          [icon]="faEnvelope"
          class="absolute left-3 top-1/2 transform -translate-y-1/2 text-slate-400"
        ></fa-icon>
        <input
          #emailInput="ngModel"
          [(ngModel)]="contactFormData.email"
          class="bg-transparent border-2 w-full px-10 py-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-400 transition duration-300"
          [ngClass]="{
            'border-red-500':
              (!emailInput.value && emailInput.dirty) ||
              (emailInput.touched && emailInput.invalid),
            'border-slate-600': emailInput.value || !emailInput.dirty
          }"
          placeholder="Email *"
          type="email"
          name="email"
          id="email"
          required
          email
        />
      </div>
      <small
        class="text-red-500 px-2"
        *ngIf="
          emailInput.dirty &&
          (!emailInput.value || (emailInput.touched && emailInput.invalid))
        "
      >
        {{
          emailInput.invalid && emailInput.value
            ? "Please enter a valid email address."
            : "This field is required!"
        }}
      </small>

      <!-- Contact No. -->
      <div class="relative">
        <fa-icon
          [icon]="faPhone"
          class="absolute left-3 top-1/2 transform -translate-y-1/2 text-slate-400"
        ></fa-icon>
        <input
          [(ngModel)]="contactFormData.contact_number"
          class="bg-transparent border-2 border-slate-600 w-full px-10 py-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-400 transition duration-300"
          placeholder="Contact No."
          type="tel"
          name="contact_number"
          id="contact_number"
        />
      </div>

      <!-- Subject -->
      <div class="relative">
        <fa-icon
          [icon]="faPencilAlt"
          class="absolute left-3 top-1/2 transform -translate-y-1/2 text-slate-400"
        ></fa-icon>
        <input
          #subjectInput="ngModel"
          [(ngModel)]="contactFormData.subject"
          class="bg-transparent border-2 w-full px-10 py-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-400 transition duration-300"
          [ngClass]="{
            'border-red-500': !subjectInput.value && subjectInput.dirty,
            'border-slate-600': subjectInput.value || !subjectInput.dirty
          }"
          placeholder="Subject *"
          type="text"
          name="subject"
          id="subject"
          required
        />
      </div>
      <small
        class="text-red-500 px-2"
        *ngIf="!subjectInput.value && subjectInput.dirty"
        >This field is required!</small
      >

      <!-- Message -->
      <div>
        <textarea
          #messageInput="ngModel"
          [(ngModel)]="contactFormData.message"
          class="bg-transparent border-2 w-full px-4 py-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-400 transition duration-300"
          [ngClass]="{
            'border-red-500': !messageInput.value && messageInput.dirty,
            'border-slate-600': messageInput.value || !messageInput.dirty
          }"
          placeholder="Message *"
          name="message"
          id="message"
          required
          rows="6"
        ></textarea>
      </div>
      <small
        class="text-red-500 px-2"
        *ngIf="!messageInput.value && messageInput.dirty"
        >This field is required!</small
      >

      <!-- ReCaptcha Widget -->
      <div>
        <re-captcha
          (resolved)="resolved($event)"
          [siteKey]="sitekey"
        ></re-captcha>
      </div>

      <!-- Submit Button -->
      <button
        class="flex space-x-3 border-cyan-500 border-2 px-6 py-3 rounded-md mt-4 text-cyan-500 font-bold transition-all duration-300"
        type="submit"
        [disabled]="contactForm.invalid && !this.captchaResponse"
        [ngClass]="{
          'opacity-50': contactForm.invalid || !this.captchaResponse,
          'opacity-100 hover:bg-slate-50 hover:text-slate-900':
            contactForm.valid && this.captchaResponse
        }"
      >
        <fa-icon [icon]="faPaperPlane"></fa-icon>
        <span>SEND MESSAGE</span>
      </button>
    </form>
  </div>

  <!-- Loader -->
  <div
    *ngIf="isLoading"
    class="fixed inset-0 z-50 flex justify-center items-center bg-black/50"
  >
    <div
      class="animate-spin rounded-full h-16 w-16 border-t-4 border-b-4 border-cyan-500"
    ></div>
  </div>
</section>
