<section id="contact" class="relative w-full bg-slate-900 py-20 px-4 text-white scroll-m-20">
    <div class="w-full max-w-5xl mx-auto">
        <h2 class="w-full font-extrabold text-3xl md:text-4xl">MY SERVICES</h2>
        <div class="w-full mt-12">
            <div class="flex flex-col w-full gap-4 md:flex-row">
                <div class="flex flex-col w-1/4 items-center space-y-4 text-center">
                    <h3>Web Development</h3>
                    <p>Develop a customized web application from the scratch, employing the latest technology.</p>
                </div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</section>