<section id="home" class="w-full max-w-7xl mx-auto text-white px-4">
    <div class="flex flex-col justify-center items-center w-full mx-auto md:flex-row">
        <!-- Left Items -->
        <div class="w-full md:w-2/5">
            <div class="text-lg">Hi, my name is</div>
            <h1 class="font-bold text-[54px] leading-none sm:text-6xl">DARYL ANDRES</h1>
            <p class="text-lg mt-1">Self-taught Web Developer</p>
            <!-- <div>I'm passionate about crafting engaging and user-friendly websites. I'm just starting my journey in web development, I've been working on personal projects to enhance my skills and creativity.</div> -->
        </div>
        <!-- Left Items -->
        <div class="w-full md:w-1/2">
            <img class="h-full w-full object-cover mix-blend-overlay" src="../../../assets/img/dma7.png" alt="photo of Daryl Andres">
        </div>
    </div>
</section>