<section id="home" class="w-full max-w-7xl mx-auto mt-24 text-white">
    <div class="flex flex-col justify-center items-center w-full md:flex-row">
        <!-- Left Items -->
        <div class="px-4 text-base w-full md:w-1/2 md:text-lg">
            <p class="opacity-0 -translate-x-full translate-y-full slide-in-one">Hi, my name is</p>
            <p class="opacity-0 -translate-x-full translate-y-full slide-in-two font-bold text-5xl mt-1 md:text-6xl">
                DARYL ANDRES</p>
            <p class="opacity-0 -translate-x-full translate-y-full slide-in-three mt-2">a self-taught <span
                    class="text-xl font-bold">Web Developer</span></p>
            <!-- <div>I'm passionate about crafting engaging and user-friendly websites. I'm just starting my journey in web development, I've been working on personal projects to enhance my skills and creativity.</div> -->
            <a class="fade-in opacity-0 py-4 px-12 rounded-lg font-semibold border-2 border-white w-full text-center block mt-6 md:w-fit"
                href="#contact">
                CONTACT ME
            </a>
        </div>
        <!-- Left Items -->
        <div class="w-full px-6 md:flex-1">
            <img class="fade-in opacity-0 w-full object-cover mix-blend-overlay" src="../../../assets/img/dma.png"
                alt="photo of Daryl Andres">
        </div>
    </div>
</section>