<section id="home" class="w-full max-w-7xl mx-auto text-white px-4">
    <div class="flex flex-col justify-center items-center w-full h-[100vh] mx-auto md:flex-row">
        <!-- Left Items -->
        <div class="w-full md:w-1/2">
            <div class="text-lg">Hi! My name is</div>
            <div class="font-bold text-6xl">DARYL ANDRES</div>
            <div class="text-lg">Hobbies Web Developer</div>
            <!-- <div>I'm passionate about crafting engaging and user-friendly websites. I'm just starting my journey in web development, I've been working on personal projects to enhance my skills and creativity.</div> -->
        </div>
        <!-- Left Items -->
        <div class="w-full md:w-1/2">
            <img src="" alt="">
        </div>
    </div>
</section>