<section class="relative w-full bg-slate-900 text-white" id="contact">
    <div class="w-full max-w-5xl mx-auto py-20">
        <h2 class="w-full font-extrabold text-4xl px-4">CONNECT WITH ME</h2>
        <form class="w-full mt-8 px-4" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
            <!-- First and Last Name -->
            <div class="flex flex-col w-full mt-0 space-y-4 space-x-0 md:space-y-0 md:space-x-4 md:flex-row md:mt-4">
                <div class="w-full">
                    <input #firstnameInput="ngModel" class="bg-inherit border-2 w-full px-4 py-2 rounded-md"
                        [ngClass]="{'outline-red-500 border-red-500': !firstnameInput.value && firstnameInput.dirty}"
                        [(ngModel)]="contactFormData.firstname" placeholder="First name *" type="text"
                        name="first-name*" id="first-name" required>
                    <small *ngIf="!firstnameInput.value && firstnameInput.dirty" class="text-red-500 px-2">
                        This field is required!
                    </small>
                </div>
                <div class="w-full">
                    <input #lastNameInput="ngModel" class="bg-inherit border-2 w-full px-4 py-2 rounded-md"
                        [ngClass]="{'border-red-500': !lastNameInput.value && lastNameInput.dirty}"
                        [(ngModel)]="contactFormData.lastname" placeholder="Last name *" type="text" name="last-name"
                        id="last-name" required>
                    <small *ngIf="!lastNameInput.value && lastNameInput.dirty" class="text-red-500 px-2">
                        This field is required!
                    </small>
                </div>
            </div>

            <!-- Email and Contact No. -->
            <div class="flex flex-col w-full mt-4 space-y-4 space-x-0 md:space-y-0 md:space-x-4 md:flex-row">
                <div class="w-full">
                    <input #emailInput="ngModel" class="bg-inherit border-2 w-full px-4 py-2 rounded-md"
                        [ngClass]="{'border-red-500': (!emailInput.value && emailInput.dirty) || (emailInput.touched && emailInput.invalid)}"
                        [(ngModel)]="contactFormData.email" placeholder="Email *" type="email" name="email" id="email"
                        required email>
                    <small class="text-red-500 px-2"
                        *ngIf="(!emailInput.value && emailInput.dirty) || (emailInput.touched && emailInput.invalid)">
                        This field is required! Please enter a valid email.
                    </small>
                </div>
                <div class="w-full">
                    <input [(ngModel)]="contactFormData.contact_number"
                        class="bg-inherit border-2 w-full px-4 py-2 rounded-md" placeholder="Contact No." type="tel"
                        name="contact_number" id="contact_number">
                </div>
            </div>

            <!-- Subject and Message -->
            <div class="w-full mt-4">
                <input #subjectInput="ngModel" class="bg-inherit border-2 w-full px-4 py-2 rounded-md"
                    [ngClass]="{'border-red-500': !subjectInput.value && subjectInput.dirty}"
                    [(ngModel)]="contactFormData.subject" placeholder="Subject *" type="text" name="subject"
                    id="subject" required>
                <small class="text-red-500 px-2" *ngIf="!subjectInput.value && subjectInput.dirty">This field is
                    required!</small>
            </div>
            <div class="w-full mt-4">
                <textarea #messageInput="ngModel" class="bg-inherit border-2 w-full px-4 py-2 rounded-md"
                    [ngClass]="{'border-red-500': !messageInput.value && messageInput.dirty}"
                    [(ngModel)]="contactFormData.message" placeholder="Message *" name="message" id="message" required
                    cols="30" rows="10"></textarea>
                <small class="text-red-500 px-2" *ngIf="!messageInput.value && messageInput.dirty">This field is
                    required!</small>
            </div>

            <!-- ReCaptcha Widget -->
            <div class="mt-2">
                <re-captcha (resolved)="resolved($event)" [siteKey]="sitekey"></re-captcha>
            </div>

            <!-- Submit Button -->
            <button class="bg-white w-full px-10 py-3 rounded-md mt-4 text-slate-900 font-bold md:w-fit" type="submit"
                [disabled]="contactForm.invalid && !this.captchaResponse"
                [ngClass]="{'opacity-50': contactForm.invalid && !this.captchaResponse, 'opacity-100': contactForm.valid && this.captchaResponse}">
                SEND MESSAGE
            </button>
        </form>
    </div>
    <!-- Loader -->
    <div *ngIf="isLoading" class="fixed top-0 right-0 h-screen w-screen z-50 flex justify-center items-center bg-[rgba(0,0,0,0.1)]">
        <div class="animate-spin rounded-full h-24 w-24 border-t-2 border-b-2 border-white"></div>
    </div>
</section>