<section id="resume" class="relative w-full mx-auto py-20 bg-white scroll-m-[75px]">
    <div class="w-full max-w-7xl mx-auto">
        <div class="heading flex items-center text-slate-800">
            <div>
                <h2 class="w-full font-extrabold px-4 text-3xl leading-none md:text-4xl">
                    RESUME
                </h2>
            </div>
            <div class="download-icon">
                <a href="../../../assets/media/daryl-andres-cv.pdf" target="_blank"><fa-icon class="text-2xl md:text-3xl" [icon]="faFileArrowDown"></fa-icon></a>
                <span class="tooltip whitespace-nowrap">Download CV</span>
            </div>
        </div>
        <div class="sub-section p-4 w-full mt-4">
            <!-- SKILLS -->
            <h4 class="font-bold text-white bg-slate-900 text-xl text-center py-2 md:text-2xl">
                SKILLS
            </h4>
            <div class="flex flex-col w-full p-4 border shadow-lg space-y-3 md:space-y-0 md:flex-row">
                <div class="w-full px-6 md:w-1/3">
                    <h6 class="font-bold">FRONT-END DEVELOPMENT</h6>
                    <ul class="list-disc list-inside">
                        <li>Angular, Typescript</li>
                        <li>Tailwind</li>
                        <li>HTML5, CSS3, JavaScript</li>
                    </ul>
                </div>
                <div class="w-full px-6 md:w-1/3">
                    <h6 class="font-bold">BACK-END DEVELOPMENT</h6>
                    <ul class="list-disc list-inside">
                        <li>Django, Python</li>
                        <li>Django-Rest-Framework</li>
                        <li>PostgreSQL</li>
                    </ul>
                </div>
                <div class="w-full px-6 md:w-1/3">
                    <h6 class="font-bold">DEPLOYMENT & VERSION CONTROL</h6>
                    <ul class="list-disc list-inside">
                        <li>Git, Github</li>
                        <li>Microsoft Azure</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="sub-section p-4 w-full mt-4">
            <!-- CERTIFICATIONS -->
            <h4 class="font-bold text-white bg-slate-900 text-xl text-center py-2 md:text-2xl">RELEVANT COURSES
            </h4>
            <div class="w-full border shadow-lg p-4">
                <!-- WEB DEVELOPMENT -->
                <div class="flex flex-col w-full gap-4 md:flex-row">
                    <div class="flex flex-col w-full gap-4 md:w-1/2">
                        <!-- DICT -->
                        <div class="w-full">
                            <h6 class="font-bold">DICT | Course Certificate</h6>
                            <div class="flex flex-col">
                                <div class="flex items-center">
                                    <p class="w-full md:w-5/6">Developing a Static Website</p>
                                    <div class="cursor-pointer flex items-center space-x-1 bg-slate-600 text-xs leading-none text-white w-auto p-1 rounded-sm"
                                        (click)="viewCertificate(certImgPath.staticWebsite, certURL.staticWebsite, certPlaceholder.staticWebsite)">
                                        <fa-icon [icon]="faCertificate"></fa-icon>
                                        <span>VIEW</span>
                                    </div>
                                </div>
                                <div class="flex items-center">
                                    <p class="w-full md:w-5/6">Basic JavaScript for Web Development</p>
                                    <div class="cursor-pointer flex items-center space-x-1 bg-slate-600 text-xs leading-none text-white w-auto p-1 rounded-sm"
                                        (click)="viewCertificate(certImgPath.basicJS, certURL.basicJS, certPlaceholder.basicJS)">
                                        <fa-icon [icon]="faCertificate"></fa-icon>
                                        <span>VIEW</span>
                                    </div>
                                </div>
                                <div class="flex items-center">
                                    <p class="w-full md:w-5/6">Build Python Web Apps with Flask</p>
                                    <div class="cursor-pointer flex items-center space-x-1 bg-slate-600 text-xs leading-none text-white w-auto p-1 rounded-sm"
                                        (click)="viewCertificate(certImgPath.flask, certURL.flask, certPlaceholder.flask)">
                                        <fa-icon [icon]="faCertificate"></fa-icon>
                                        <span>VIEW</span>
                                    </div>
                                </div>
                                <div class="flex items-center">
                                    <p class="w-full md:w-5/6">Programming for Intermediate Users using Python</p>
                                    <div class="cursor-pointer flex items-center space-x-1 bg-slate-600 text-xs leading-none text-white w-auto p-1 rounded-sm"
                                        (click)="viewCertificate(certImgPath.pythonIntermediate, certURL.pythonIntermediate, certPlaceholder.pythonIntermediate)">
                                        <fa-icon [icon]="faCertificate"></fa-icon>
                                        <span>VIEW</span>
                                    </div>
                                </div>
                                <div class="flex items-center">
                                    <p class="w-full md:w-5/6">Programming for Beginners Using Python</p>
                                    <div class="cursor-pointer flex items-center space-x-1 bg-slate-600 text-xs leading-none text-white w-auto p-1 rounded-sm"
                                        (click)="viewCertificate(certImgPath.pythonBeginner, certURL.pythonBeginner, certPlaceholder.pythonBeginner)">
                                        <fa-icon [icon]="faCertificate"></fa-icon>
                                        <span>VIEW</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- DICT ends here -->

                        <!-- Freecodecamp -->
                        <div class="w-full">
                            <h6 class="font-bold">FREECODECAMP | Developer Certification</h6>
                            <div class="flex flex-col">
                                <div class="flex items-center">
                                    <p class="w-full md:w-5/6">Responsive Web Design</p>
                                    <div class="cursor-pointer flex items-center space-x-1 bg-slate-600 text-xs leading-none text-white w-auto p-1 rounded-sm"
                                        (click)="viewCertificate(certImgPath.responsiveWebDesign, certURL.responsiveWebDesign, certPlaceholder.responsiveWebDesign)">
                                        <fa-icon [icon]="faCertificate"></fa-icon>
                                        <span>VIEW</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Freecodecamp ends here -->                                           
                    </div>

                    <div class="flex flex-col w-full gap-4 md:w-1/2">
                        <!-- Sololearn -->
                        <div class="w-full">
                            <h6 class="font-bold">SOLOLEARN | Course Certificate</h6>
                            <div class="flex flex-col">
                                <div class="flex items-center">
                                    <p class="w-full md:w-5/6">Angular + NestJS</p>
                                    <div class="cursor-pointer flex items-center space-x-1 bg-slate-600 text-xs leading-none text-white w-auto p-1 rounded-sm"
                                        (click)="viewCertificate(certImgPath.angularNetJs, certURL.angularNetJs, certPlaceholder.angularNetJs)">
                                        <fa-icon [icon]="faCertificate"></fa-icon>
                                        <span>VIEW</span>
                                    </div>
                                </div>
                                <div class="flex items-center">
                                    <p class="w-full md:w-5/6">Introduction to Python</p>
                                    <div class="cursor-pointer flex items-center space-x-1 bg-slate-600 text-xs leading-none text-white w-auto p-1 rounded-sm"
                                        (click)="viewCertificate(certImgPath.python, certURL.python, certPlaceholder.python)">
                                        <fa-icon [icon]="faCertificate"></fa-icon>
                                        <span>VIEW</span>
                                    </div>
                                </div>
                                <div class="flex items-center">
                                    <p class="w-full md:w-5/6">Python Data Structures</p>
                                    <div class="cursor-pointer flex items-center space-x-1 bg-slate-600 text-xs leading-none text-white w-auto p-1 rounded-sm"
                                        (click)="viewCertificate(certImgPath.pythonDataStructure, certURL.pythonDataStructure, certPlaceholder.pythonDataStructure)">
                                        <fa-icon [icon]="faCertificate"></fa-icon>
                                        <span>VIEW</span>
                                    </div>
                                </div>
                                <div class="flex items-center">
                                    <p class="w-full md:w-5/6">Introduction to HTML</p>
                                    <div class="cursor-pointer flex items-center space-x-1 bg-slate-600 text-xs leading-none text-white w-auto p-1 rounded-sm"
                                        (click)="viewCertificate(certImgPath.html, certURL.html, certPlaceholder.html)">
                                        <fa-icon [icon]="faCertificate"></fa-icon>
                                        <span>VIEW</span>
                                    </div>
                                </div>
                                <div class="flex items-center">
                                    <p class="w-full md:w-5/6">Introduction to CSS</p>
                                    <div class="cursor-pointer flex items-center space-x-1 bg-slate-600 text-xs leading-none text-white w-auto p-1 rounded-sm"
                                        (click)="viewCertificate(certImgPath.css, certURL.css, certPlaceholder.css)">
                                        <fa-icon [icon]="faCertificate"></fa-icon>
                                        <span>VIEW</span>
                                    </div>
                                </div>
                                <div class="flex items-center">
                                    <p class="w-full md:w-5/6">Introduction to JavaScript</p>
                                    <div class="cursor-pointer flex items-center space-x-1 bg-slate-600 text-xs leading-none text-white w-auto p-1 rounded-sm"
                                        (click)="viewCertificate(certImgPath.js, certURL.js, certPlaceholder.js)">
                                        <fa-icon [icon]="faCertificate"></fa-icon>
                                        <span>VIEW</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Sololearn ends here -->
                    </div>
                </div>
            </div>
        </div>
        <!-- MODAL: Certificates -->
        <div *ngIf="certificateOnView"
            class="fixed top-0 left-0 flex justify-center items-center w-full h-full bg-[rgba(0,0,0,0.3)] p-4 z-10">
            <div class="flex flex-col items-center w-full h-auto bg-[rgba(0,0,0,0.5)] px-8 py-4 rounded-md md:w-2/3 lg:w-1/2 mt-4">
                <fa-icon
                    class="self-end text-white text-xl font-bold leading-none cursor-pointer md:text-2xl"
                    (click)="closeCertificate()" [icon]="faTimes">
                </fa-icon>
                <div class="flex flex-col items-center w-full px-4 mt-2">
                    <div class="transition-all duration-300 w-full bg-cover bg-center blur" [style.background-image]="'url(' + placeholderPath + ')'"
                        [ngClass]="{'blur-0': isImageLoaded}">
                        <img class="w-full aspect-[4/3] opacity-0"
                            [ngClass]="{'opacity-100': isImageLoaded}"
                            [src]="imgPath" alt="certificate"
                            (load)="onImageLoad()"
                            loading="lazy">
                    </div>
                </div>
                <div class="mt-2 bg-gray-900 text-white font-semibold text-xs rounded-sm px-2 py-1 w-fit sm:text-sm">
                    <a [href]="imgUrl" target="_blank">{{imgUrl}}</a>
                </div>
            </div>
        </div>

        <!-- WORK EXPERIENCE / EDUCATION -->
        <div class="sub-section p-4 w-full mt-4">
            <!-- SKILLS -->
            <h4 class="font-bold text-white bg-slate-900 text-xl text-center py-2 md:text-2xl">
                WORK EXPERIENCE / EDUCATION
            </h4>
            <div class="flex flex-col w-full border shadow-lg p-4 space-y-4 space-x-0 md:space-y-0 md:space-x-4 md:flex-row">
                <div class="w-full space-y-2 md:w-1/2">
                    <!-- Work Experience -->
                    <h5 class="font-extrabold text-slate-800 text-lg md:text-xl">WORK EXPERIENCE:</h5>
                    <div>
                        <h6 class="font-bold">BUSINESS COUNSELOR</h6>
                        <p>DTI-Rizal - Negosyo Center Antipolo City</p>
                        <p>March 2021 - Present</p>
                    </div>
                    <div>
                        <h6 class="font-bold">SALES ASSISTANT</h6>
                        <p>ACE Hardware Phils Inc. - SM Cherry Antipolo</p>
                        <p>October 2019 - February 2021</p>
                    </div>
                </div>
                <div class="w-full space-y-2 md:w-1/2">
                    <!-- Education -->
                    <h5 class="font-extrabold text-slate-800 text-lg md:text-xl">EDUCATION:</h5>
                    <div>
                        <h6 class="font-bold">BSBA - MARKETING MANAGEMENT</h6>
                        <p>ICCT Colleges Foundation Inc. - Antipolo City</p>
                        <p>Graduated - December 2019</p>
                    </div>
                    <!-- <div>
                        <h6 class="font-bold">CERTIFICATE IN TEACHING PROGRAM (SECONDARY)</h6>
                        <p>ICCT Colleges Foundation Inc. - Antipolo City</p>
                        <p>2021</p>
                    </div> -->
                </div>
            </div>
        </div>

        <!-- APPRECIATION CERTIFICATES -->
        <!-- <div class="w-full md:w-1/2">
            <h5 class="font-extrabold text-slate-800 text-xl">OTHER CERTIFICATION:</h5>
            <div class="flex flex-col w-full py-2 px-4">
                <div class="w-full">
                    <h6 class="font-bold">as a Resource Speaker during:</h6>
                    <div class="flex justify-between items-center w-full">
                        <p class="w-auto">
                            Kabalikat sa Kabuhayan | SM Foundation
                        </p>
                        <div class="cursor-pointer flex self-end items-center space-x-1 bg-slate-600 text-xs leading-none text-white w-auto p-1 rounded-sm"
                            (click)="viewCertificate(certImgPath.responsiveWebDesign, certURL.responsiveWebDesign)">
                            <fa-icon [icon]="faCertificate"></fa-icon>
                            <span>VIEW</span>
                        </div>
                    </div>
                    <div class="flex justify-between items-center w-full">
                        <p class="w-auto">
                            Local Peace Engagement | 80th Infantry (STEADFAST) Battalion
                        </p>
                        <div class="cursor-pointer flex self-end items-center space-x-1 bg-slate-600 text-xs leading-none text-white w-auto p-1 rounded-sm"
                            (click)="viewCertificate(certImgPath.responsiveWebDesign, certURL.responsiveWebDesign)">
                            <fa-icon [icon]="faCertificate"></fa-icon>
                            <span>VIEW</span>
                        </div>
                    </div>
                    <div class="flex justify-between items-center w-full">
                        <p class="w-auto">
                            2023 Negosyo Forum | Antipolo City Government
                        </p>
                        <div class="cursor-pointer flex self-end items-center space-x-1 bg-slate-600 text-xs leading-none text-white w-auto p-1 rounded-sm"
                            (click)="viewCertificate(certImgPath.responsiveWebDesign, certURL.responsiveWebDesign)">
                            <fa-icon [icon]="faCertificate"></fa-icon>
                            <span>VIEW</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</section>