<section id="resume" class="w-full mx-auto bg-white">
    <div class="w-full max-w-7xl mx-auto py-20">
        <h2 class="w-full font-extrabold text-slate-800 text-4xl px-4">RESUME</h2>
        <!-- Skills -->
        <div class="p-4 w-full mt-4">
            <!-- SKILLS -->
            <h4 class="font-bold text-white bg-slate-900 text-2xl text-center py-2">
                SKILLS
            </h4>
            <div class="flex flex-col w-full shadow-md p-4 space-y-4 space-x-0 md:space-y-0 md:space-x-4 md:flex-row">
                <div class="w-full space-y-2 md:w-1/2">
                    <h5 class="font-extrabold text-slate-800 text-xl">TECHNICAL SKILLS:</h5>
                    <div class="px-6">
                        <h6 class="font-semibold">FRONT-END DEVELOPMENT</h6>
                        <ul class="list-disc list-inside">
                            <li>Angular, Typescript</li>
                            <li>Tailwind</li>
                            <li>HTML5, CSS3, JavaScript</li>
                        </ul>
                    </div>
                    <div class="px-6">
                        <h6 class="font-semibold">BACK-END DEVELOPMENT</h6>
                        <ul class="list-disc list-inside">
                            <li>Django, Python</li>
                            <li>Django-Rest-Framework</li>
                            <li>PostgreSQL</li>
                        </ul>
                    </div>
                    <div class="px-6">
                        <h6 class="font-semibold">DEPLOYMENT & VERSION CONTROL</h6>
                        <ul class="list-disc list-inside">
                            <li>Git</li>
                            <li>Microsoft Azure</li>
                        </ul>
                    </div>
                </div>
                <div class="w-full space-y-2 md:w-1/2">
                    <h5 class="font-extrabold text-slate-800 text-xl">SOFT SKILLS:</h5>
                    <ul class="list-disc list-inside">
                        <li>Communication Skills</li>
                        <li>Customer Focus</li>
                        <li>Team Collaboration</li>
                        <li>Project Management</li>
                        <li>Continuous Learning</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Certifications -->
        <div class="p-4 w-full mt-4">
            <h4 class="font-bold text-white bg-slate-900 text-2xl text-center py-2">
                CERTIFICATIONS
            </h4>
            <a
                href="https://www.freecodecamp.org/certification/fccf25ac698-ea5b-417b-bdb6-59c9ad91fc03/responsive-web-design">FreeCodeCamp</a>
            <div class="flex flex-col w-full shadow-md p-4 space-y-4 space-x-0 md:space-y-0 md:space-x-4 md:flex-row">
                <div class="w-full space-y-2 md:w-1/2">
                    <h5 class="font-extrabold text-slate-800 text-xl">TECHNICAL SKILLS:</h5>
                    <div class="px-6">
                        <h6 class="font-semibold">FRONT-END DEVELOPMENT</h6>
                        <ul class="list-disc list-inside">
                            <li>Angular, Typescript</li>
                            <li>Tailwind</li>
                            <li>HTML5, CSS3, JavaScript</li>
                        </ul>
                    </div>
                    <div class="px-6">
                        <h6 class="font-semibold">BACK-END DEVELOPMENT</h6>
                        <ul class="list-disc list-inside">
                            <li>Django, Python</li>
                            <li>Django-Rest-Framework</li>
                            <li>PostgreSQL</li>
                        </ul>
                    </div>
                    <div class="px-6">
                        <h6 class="font-semibold">DEPLOYMENT & VERSION CONTROL</h6>
                        <ul class="list-disc list-inside">
                            <li>Git</li>
                            <li>Microsoft Azure</li>
                        </ul>
                    </div>
                </div>
                <div class="w-full space-y-2 md:w-1/2">
                    <h5 class="font-extrabold text-slate-800 text-xl">SOFT SKILLS:</h5>
                    <ul class="list-disc list-inside">
                        <li>Communication Skills</li>
                        <li>Customer Focus</li>
                        <li>Team Collaboration</li>
                        <li>Project Management</li>
                        <li>Continuous Learning</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Flex Container -->
        <div class="flex flex-col w-full max-w-7xl mx-auto px-4">
            <div class="flex flex-col md:flex-row">
                <!-- Left Item -->
                <div class="flex flex-col justify-between p-4 space-y-8 w-full md:w-1/2">
                    <!-- PROFESSIONAL EXPERIENCEL -->
                    <div>
                        <h4 class="font-bold text-slate-900 text-3xl text-center">
                            PROFESSIONAL EXPERIENCE
                        </h4>
                        <p class="leading-7 mt-4">
                            This portal provides the services of Negosyo Center Antipolo accessible support for
                            businesses in the city.
                            It offers resources, business registration assistance, and advisory services to facilitate
                            the growth and development of MSMEs.
                        </p>
                        <div class="mt-6">
                            <h5 class="font-medium">Negosyo Center Business Counselor | DTI-Rizal | Location | 2021-2024
                            </h5>
                            <ul class="px-6 mt-2 space-y-1">
                                <li>HTML, CSS, JavaScript</li>
                                <li>Django, Python</li>
                                <li>Tailwindcss</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Right item -->
                <div class="flex flex-col justify-between p-4 space-y-8 w-full md:w-1/2">
                    <!-- EDUCATION -->
                    <div>
                        <h4 class="font-bold text-slate-900 text-3xl text-center">
                            EDUCATION
                        </h4>
                        <p class="leading-7 mt-4">
                            This website is a practical tool for DTI-Rizal business counselors, offering a resource hub
                            to support informed guidance for businesses and enhance the counseling process.
                        </p>
                        <div class="mt-6">
                            <h5 class="font-medium">DEVELOPMENT TOOLS</h5>
                            <ul class="px-6 mt-2 space-y-1">
                                <li>HTML, CSS, JavaScript</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>