<div class="flex flex-col justify-center items-center bg-gray-950 w-full text-white py-12">
    <div class="flex justify-center items-center space-x-4 mb-4">
        <a class="rounded-md px-2 py-1 bg-gray-900" href="">
            <fa-icon class="text-xl" [icon]="faGithub"></fa-icon>
        </a>
        <a class="rounded-md px-2 py-1 bg-gray-900" href="">
            <fa-icon class="text-xl" [icon]="faLinkedin"></fa-icon>
        </a>
        <a class="rounded-md px-2.5 py-1 bg-gray-900" href="">
            <fa-icon class="text-xl" [icon]="faFacebook"></fa-icon>
        </a>
        <a class="rounded-md px-2.5 py-1 bg-gray-900" href="">
            <fa-icon class="text-xl" [icon]="faInstagram"></fa-icon>
        </a>
    </div>
    <div>Copyright &copy; 2024 - All rights reserved.</div>
    <div>Designed and built by Daryl Andres</div>
</div>
