<header class="fixed w-full top-0 left-0 text-white font-semibold z-50">
    <div class="relative w-full" [ngClass]="{'text-slate-900': isNavBarOpen || isScrolled}">
        <div class="absolute top-0 left-0 w-full h-full bg-white shadow-md transition-transform duration-300 -z-10"
            [ngClass]="{
                'translate-x-0' : isNavBarOpen || isScrolled,
                '-translate-x-full': !isScrolled
            }">
        </div>

        <div class="w-full max-w-7xl mx-auto px-4 bg-transparent">
            <div class="flex justify-between items-center w-full h-20">
                <a href="#home">
                    <div class="w-fit delay-100" [ngClass]="{'img-white': !isNavBarOpen && !isScrolled, 'img-slate-950': isNavBarOpen || isScrolled}">
                        <img class="w-12 md:w-14" src="../../../assets/img/d-icon-black.png" alt="">
                    </div>
                </a>
    
                <!-- Hamburger Menu -->
                <div class="block px-2 transition-all duration-500 md:hidden">
                    <fa-icon class="text-[32px] leading-none cursor-pointer" [ngClass]="{'': isNavBarOpen}"
                    (click)="toggleNavBar()" [icon]="faBars"></fa-icon>
                </div>
                
                <!-- Navigation -->
                <nav class="hidden space-x-4 md:flex" [ngClass]="{'text-slate-900': isNavBarOpen || isScrolled}">
                    <a href="#home" class="px-2 py-2 transition-all duration-300 cursor-pointer"
                        [ngClass]="{
                            'hover:bg-gradient-to-r from-black to-slate-700 hover:text-white': isScrolled,
                            'hover:bg-white hover:text-slate-900': !isScrolled,
                            }">
                        Home
                    </a>
                    <a href="#about" class="px-2 py-2 transition-all duration-300 cursor-pointer"
                        [ngClass]="{
                            'hover:bg-gradient-to-r from-black to-slate-700 hover:text-white': isScrolled,
                            'hover:bg-white hover:text-slate-900': !isScrolled,
                            }">
                        About
                    </a>
                    <a href="#projects" class="px-2 py-2 transition-all duration-300 cursor-pointer"
                        [ngClass]="{
                            'hover:bg-gradient-to-r from-black to-slate-700 hover:text-white': isScrolled,
                            'hover:bg-white hover:text-slate-900': !isScrolled,
                            }">
                        Projects
                    </a>
                    <a href="#resume" class="px-2 py-2 transition-all duration-300 cursor-pointer"
                        [ngClass]="{
                            'hover:bg-gradient-to-r from-black to-slate-700 hover:text-white': isScrolled,
                            'hover:bg-white hover:text-slate-900': !isScrolled,
                            }">
                        Resume
                    </a>
                    <a href="#contact" class="px-2 py-2 transition-all duration-300 cursor-pointer"
                        [ngClass]="{
                            'hover:bg-gradient-to-r from-black to-slate-700 hover:text-white': isScrolled,
                            'hover:bg-white hover:text-slate-900': !isScrolled,
                            }">
                        Contact
                    </a>
                </nav>
            </div>
        </div>
        <!-- Navigation Bar for Smaller Screens -->    
        <div class="relative w-full block md:hidden">
            <nav #mobileMenu [ngClass]="isNavBarOpen? 'translate-x-0' : 'translate-x-full'"
                class="fixed w-full top-20 left-0 flex flex-col transition-transform duration-300 space-y-2 slide-back bg-white border-b text-slate-900">
                <a href="#home" class="px-2 py-4 transition-all duration-500 cursor-pointer hover:bg-gradient-to-r hover:from-black hover:to-slate-700 hover:text-white">
                    Home
                </a>
                <a href="#about" class="px-2 py-4 transition-all duration-500 cursor-pointer hover:bg-gradient-to-r hover:from-black hover:to-slate-700 hover:text-white">
                    About
                </a>
                <a href="#projects" class="px-2 py-4 transition-all duration-500 cursor-pointer hover:bg-gradient-to-r hover:from-black hover:to-slate-700 hover:text-white">
                    Projects
                </a>
                <a href="#resume" class="px-2 py-4 transition-all duration-500 cursor-pointer hover:bg-gradient-to-r hover:from-black hover:to-slate-700 hover:text-white">
                    Resume
                </a>
                <a href="#contact" class="px-2 py-4 transition-all duration-500 cursor-pointer hover:bg-gradient-to-r hover:from-black hover:to-slate-700 hover:text-white">
                    Contact
                </a>
            </nav>
        </div>
    </div>
</header>