.img-slate-950 {
    filter: invert(7%) sepia(8%) saturate(6720%) hue-rotate(189deg) brightness(92%) contrast(95%);
}

.img-white {
    filter: invert(88%) sepia(100%) saturate(0%) hue-rotate(256deg) brightness(105%) contrast(103%);
}

.mobile-navbar {
    overflow-x: hidden;
}