<header class="relative w-full">
    <div class="absolute top-0 left-0 w-full h-full bg-white shadow-md transition-transform duration-300"
        [ngClass]="{
            'translate-x-0' : isNavBarOpen || isScrolled,
            '-translate-x-full': !isScrolled
        }">
    </div>
    <div class="relative w-full max-w-7xl mx-auto px-4 bg-transparent" [ngClass]="{'text-slate-900': isNavBarOpen || isScrolled}">
        <div class="flex justify-between items-center w-full">
            <a href="/">
                <div class="w-fit py-4" [ngClass]="{'img-white': !isNavBarOpen && !isScrolled, 'img-slate-950': isNavBarOpen || isScrolled}">
                    <img class="w-14" src="../../../assets/img/d-icon-black.png" alt="">
                </div>
            </a>

            <!-- Hamburger Menu -->
            <div class="flex rounded-md px-2 py-1 cursor-pointer md:hidden" [ngClass]="{'border-2 border-slate-900': isNavBarOpen}">
                <fa-icon *ngIf="!isNavBarOpen" class="hamburger-menu text-[30px] leading-none" [icon]="faBars" (click)="toggleNavBar()"></fa-icon>
                <fa-icon *ngIf="isNavBarOpen" class="close-menu text-[36px] leading-none" [icon]="faXmark" (click)="toggleNavBar()"></fa-icon>
            </div>

            <nav class="hidden space-x-4 md:flex">
                <a class="px-2 py-2 transition-all duration-300 cursor-pointer"
                    [ngClass]="isScrolled? 'hover:bg-gradient-to-r from-black to-slate-700 hover:text-white': 'hover:bg-white hover:text-slate-900'"
                    (click)="scrollTo('#about')">
                    About
                </a>
                <a class="px-2 py-2 transition-all duration-300 cursor-pointer"
                    [ngClass]="isScrolled? 'hover:bg-gradient-to-r from-black to-slate-700 hover:text-white': 'hover:bg-white hover:text-slate-900'"
                    (click)="scrollTo('#projects')">
                    Projects
                </a>
                <a class="px-2 py-2 transition-all duration-300 cursor-pointer"
                    [ngClass]="isScrolled? 'hover:bg-gradient-to-r from-black to-slate-700 hover:text-white': 'hover:bg-white hover:text-slate-900'"
                    (click)="scrollTo('#resume')">
                    Resume
                </a>
                <a class="px-2 py-2 transition-all duration-300 cursor-pointer"
                    [ngClass]="isScrolled? 'hover:bg-gradient-to-r from-black to-slate-700 hover:text-white': 'hover:bg-white hover:text-slate-900'"
                    (click)="scrollTo('#contact')">
                    Contact
                </a>
            </nav>
        </div>
    </div>
    <!-- Navigation Bar for Smaller Screens -->
    <nav [ngClass]="isNavBarOpen? 'translate-x-0' : 'translate-x-full'"
        class="absolute w-full top-full left-0 flex flex-col space-y-2 md:hidden transition-all duration-500 bg-white border border-white text-slate-900">
        <a class="px-2 py-4 transition-all duration-500 cursor-pointer hover:bg-gradient-to-r hover:from-black hover:to-slate-700 hover:text-white"
            (click)="scrollTo('#about')">
            About
        </a>
        <a class="px-2 py-4 transition-all duration-500 cursor-pointer hover:bg-gradient-to-r hover:from-black hover:to-slate-700 hover:text-white"
            (click)="scrollTo('#projects')">
            Projects
        </a>
        <a class="px-2 py-4 transition-all duration-500 cursor-pointer hover:bg-gradient-to-r hover:from-black hover:to-slate-700 hover:text-white"
            (click)="scrollTo('#resume')">
            Resume
        </a>
        <a class="px-2 py-4 transition-all duration-500 cursor-pointer hover:bg-gradient-to-r hover:from-black hover:to-slate-700 hover:text-white"
            (click)="scrollTo('#contact')">
            Contact
        </a>
    </nav>
</header>