<header class="fixed w-full top-0 left-0 text-slate-50 font-semibold z-50">
  <div
    class="relative w-full"
    [ngClass]="{ 'text-slate-900': isNavBarOpen() || isScrolled() }"
  >
    <div
      class="absolute top-0 left-0 w-full h-full bg-slate-50 shadow-md transition-transform duration-300 -z-10"
      [ngClass]="{
        'translate-x-0': isNavBarOpen() || isScrolled(),
        '-translate-x-full': !isScrolled()
      }"
    ></div>

    <div class="w-full max-w-7xl mx-auto px-4 bg-transparent">
      <div class="flex justify-between items-center w-full h-20">
        <a href="#home">
          <icon
            [path]="letterD"
            [viewBox]="'0 0 200 200'"
            [size]="48"
            [iconClass]="iconColor() + ' ' + 'transition-all duration-500'"
          />
        </a>

        <!-- Hamburger Menu -->
        <div class="block px-2 transition-all duration-500 md:hidden">
          <fa-icon
            class="text-[1.75rem] leading-none cursor-pointer"
            (click)="toggleNavBar()"
            [icon]="faBars"
          ></fa-icon>
        </div>

        <!-- Navigation -->
        <nav class="hidden md:block">
          <ul
            class="hidden relative space-x-4 md:flex"
            [ngClass]="{ 'text-slate-900': isNavBarOpen() || isScrolled() }"
          >
            @for (link of links(); track $index) {
            <li
              class="transition-all duration-300 cursor-pointer hover:text-cyan-500"
            >
              <a
                [href]="link.path"
                class="inline-block px-2 pt-2 pb-1.5"
                [class.active]="activeSection() === link.section"
              >
                {{ link.name }}
              </a>
            </li>
            }
          </ul>
        </nav>
      </div>
    </div>
    <!-- Navigation Bar for Smaller Screens -->
    <nav class="relative w-full block md:hidden">
      <ul
        #mobileMenu
        [ngClass]="isNavBarOpen() ? 'translate-x-0' : 'translate-x-full'"
        class="absolute w-full top-full left-0 flex flex-col transition-transform duration-300 space-y-2 slide-back bg-slate-50 border-b text-slate-900 md:hidden"
      >
        @for (link of links(); track $index) {
        <li
          class="transition-all duration-300 cursor-pointer hover:bg-gradient-to-r hover:from-black hover:to-slate-700 hover:text-slate-50"
        >
          <a [href]="link.path" class="px-2 py-4 block">
            {{ link.name }}
          </a>
        </li>
        }
      </ul>
    </nav>
  </div>
</header>
