<div class="w-full mx-auto py-8 text-slate-50">
  <div class="w-full max-w-7xl px-4 mx-auto">
    <nav class="mb-8">
      <a
        routerLink="/"
        class="text-cyan-400 hover:text-cyan-300 flex items-center"
      >
        <fa-icon [icon]="faHome" class="mr-2"></fa-icon>
        Back to Portfolio
      </a>
    </nav>

    <div
      class="flex flex-col md:flex-row justify-between items-center mb-6 md:mb-12"
    >
      <h1 class="text-4xl md:text-5xl font-bold mb-4 md:mb-0">Blog.</h1>
      <h4 class="text-center md:text-right max-w-md">
        <p>
          Sharing my thoughts, experiences, and insights on
          <span class="text-cyan-400">web development</span>,
          <span class="text-green-400">technology trends</span>, and
          <span class="text-yellow-400">personal growth</span> in the tech
          industry.
        </p>
      </h4>
    </div>

    <div class="flex items-center mb-4 md:mb-8">
      <fa-icon [icon]="faFilter" class="mr-2"></fa-icon>
      <select
        [(ngModel)]="selectedCategory"
        (change)="filterPosts(selectedCategory)"
        class="bg-slate-700 text-slate-100 rounded-md px-2 py-1"
      >
        @for (category of categories; track category) {
          <option [value]="category">{{ category }}</option>
        }
      </select>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      @if (isLoading) {
        @for (item of [1, 2, 3]; track item) {
          <div class="bg-slate-800 rounded-xl overflow-hidden shadow-lg">
            <div class="h-48 bg-slate-700 animate-pulse"></div>
            <div class="p-4">
              <div
                class="h-6 bg-slate-700 rounded w-3/4 mb-2 animate-pulse"
              ></div>
              <div
                class="h-4 bg-slate-700 rounded w-full mb-2 animate-pulse"
              ></div>
              <div
                class="h-4 bg-slate-700 rounded w-[85%] mb-2 animate-pulse"
              ></div>
              <div
                class="h-4 bg-slate-700 rounded w-[95%] mb-2 animate-pulse"
              ></div>
              <div class="flex justify-between">
                <div class="h-4 bg-slate-700 rounded w-1/4 animate-pulse"></div>
                <div class="h-4 bg-slate-700 rounded w-1/4 animate-pulse"></div>
              </div>
            </div>
          </div>
        }
      } @else {
        @for (post of posts; track post._id) {
          <div
            class="bg-slate-800 rounded-xl overflow-hidden shadow-lg flex flex-col justify-between"
          >
            <div class="relative h-48 mb-4">
              <img
                [src]="imageUrl(post.coverImage)"
                [alt]="post.title"
                class="w-full h-full object-cover image-loading transition-transform duration-300 hover:scale-110"
                (load)="handleImageLoad($event)"
                (error)="handleImageError($event)"
              />
              <div
                class="absolute top-0 left-0 right-0 flex justify-between items-start p-4"
              >
                <span
                  class="bg-slate-900 text-slate-100 text-xs font-semibold px-2 py-1 rounded"
                  >{{ post.category }}</span
                >
                <div
                  class="bg-slate-900 text-slate-100 text-xs font-semibold px-2 py-1 rounded"
                >
                  {{ post.date | date: "d MMM" }}
                </div>
              </div>
            </div>
            <div class="flex-grow px-4 mb-4">
              <h2 class="font-bold text-xl line-clamp-2 text-ellipsis mb-2">
                <a
                  [routerLink]="['/blog', post.slug]"
                  class="hover:underline"
                  >{{ post.title }}</a
                >
              </h2>
              <p class="text-slate-300 text-sm line-clamp-5 text-ellipsis">
                {{ post.excerpt }}
              </p>
            </div>
            <div class="px-4 mb-4">
              <div class="flex justify-between items-center">
                <span class="text-sm text-slate-400"
                  >By: {{ post.author.name }}</span
                >
                <a
                  [routerLink]="['/blog', post.slug]"
                  class="inline-flex items-center text-cyan-400 hover:text-cyan-300"
                >
                  Read more
                  <fa-icon
                    [icon]="faArrowUpRightFromSquare"
                    class="ml-1"
                  ></fa-icon>
                </a>
              </div>
            </div>
          </div>
        }
      }
    </div>
  </div>
</div>
