<section id="about" class="w-full mx-auto px-4 bg-white">
    <div class="flex flex-col w-full py-20 max-w-5xl mx-auto">
        <h2 class="font-bold text-4xl">ABOUT</h2>
        <div class="flex flex-col space-y-4 mt-6">
            <p class="leading-7">
                Hello there! I'm Daryl Andres, a passionate and self-taught web developer on a journey of continuous learning and exploration in the vast world of web development.
                While I may not have formal job experience in the field, my enthusiasm and dedication have led me to create several personal projects that showcase my skills and love for coding.
            </p>
            <p class="leading-7">
                My journey began with HTML, CSS, and vanilla JavaScript, where I crafted small static websites to bring my ideas to life. The process of creating these projects ignited a fire within me, driving me to delve deeper into the world of web development. As I honed my skills, I discovered the power of Angular for frontend development, combining it with Tailwind CSS to enhance styling efficiency and responsive user interfaces. Embracing Django-Python for backend functionality added robustness and dynamism to my projects
            </p>
            <p class="leading-7">
                I thrive on solving coding puzzles and creating seamless, user-friendly experiences. What started as a hobby has evolved into a genuine passion. Eager to take on new projects, I'm constantly exploring Angular and Django, staying ahead in the ever-evolving field of web development.
            </p>            
            <p class="leading-7">
                While I may be an independent learner, I am eager to transition into a collaborative environment. I am more than willing to contribute my skills and knowledge to a team, absorbing insights from experienced professionals, and adding value to any project I undertake.
            </p>
            <p class="leading-7">
                In search of a dedicated web developer ready to make valuable contributions and take on challenges? Look no further. I'm excited about the opportunity to bring my skills and passion to your team.            </p>
        </div>
    </div>
</section>