<section id="about" class="w-full mx-auto py-20 px-4 bg-white scroll-m-20">
    <div class="flex flex-col w-full max-w-6xl mx-auto">
        <h2 class="scroll-reveal font-extrabold text-3xl text-slate-800 md:text-4xl">ABOUT ME</h2>
        <div class="flex flex-col w-full space-y-4 my-6">
            <p class="scroll-reveal leading-7">
                Hello there! I'm Daryl Andres, a passionate individual who became a web developer through self-study.
                I'm on a journey of continuous learning in the vast world of web development.
                While I may not have formal job experience in the field, my dedication have led me to
                create several personal projects that showcase my skills and love for coding.
            </p>
            <p class="scroll-reveal leading-7">
                My journey in web development began with HTML, CSS, and vanilla JavaScript, crafting small static
                websites to realize my ideas, driving me to delve deeper into the field; embracing Angular with Tailwind
                CSS for frontend development and Django-Python for backend functionality added robustness and dynamism
                to my projects. While leveling up my web development skills, I've recently started delving into web
                scraping with Python-Scrapy.
            </p>
            <p class="scroll-reveal leading-7">
                Although I've been comfortable as an independent learner, I am ready and excited to transition into a
                more team-oriented, collaborative environment. I am more than willing to contribute my skills and
                knowledge to a team, absorbing insights from experienced professionals, and adding value to any project
                I undertake.
            </p>
            <p class="scroll-reveal leading-7">
                Looking for a dedicated web developer ready to contribute and take on challenges? Look
                no further. I'm excited about the opportunity to bring my skills and passion to your team.
            </p>
        </div>

        <hr *ngIf="isLearnMoreClicked" class="mt-6">

        <!-- Professional Background -->
        <div *ngIf="isLearnMoreClicked" class="fadein flex flex-col w-full space-y-4 my-12 max-w-6xl mx-auto">
            <h3 class="font-extrabold text-2xl text-slate-800 md:text-3xl">Professional Background</h3>
            <p class="leading-7">
                Though my formal job experience may seem unrelated, I've developed a set of transferable skills that
                I am confident will contribute effectively in this new environment.
            </p>
            <!-- Flex div -->
            <div
                class=" flex flex-col w-full justify-between space-x-0 space-y-6 mt-6 md:flex-row md:space-x-6 md:space-y-0">
                <!-- Left Item -->
                <div class="w-full md:w-1/2">
                    <div class="relative flex w-full text-center">
                        <figure class="w-full">
                            <img [src]="currentImage.src" alt="speaking engagement">
                        </figure>
                        <div class="absolute flex self-center justify-between items-center w-full px-2 text-2xl text-white">
                            <fa-icon class="cursor-pointer opacity-75 shadow-lg rounded-full leading-none transition-all duration-300 hover:opacity-100" 
                                (click)="previousImage()" [icon]="faCircleChevronLeft"></fa-icon>
                            <fa-icon class="cursor-pointer opacity-50 shadow-lg rounded-full leading-none transition-all duration-300 hover:opacity-75" 
                                (click)="nextImage()" [icon]="faCircleChevronRight"></fa-icon>
                        </div>
                    </div>
                    <a [href]="currentImage.reference">
                        <p class="text-center italic mt-2 text-sm font-semibold">{{currentImage.title}}</p>
                    </a>
                </div>
                <!-- Right Items -->
                <div class="flex flex-col w-full space-y-4 md:w-1/2">
                    <p class="leading-7">
                        In my role at the DTI-Rizal, I organized training sessions and
                        occasionally served as a speaker for entrepreneurial seminars.
                        Additionally, I provided assistance to MSME clients, guiding them through the business
                        registration
                        and compliance processes.
                    </p>
                    <p class="leading-7">
                        These engagements have honed my verbal communication, presentation, and effective speaking
                        skills,
                        allowing me explain complex technical ideas in an easy-to-understand way.
                        Also, my experience in project management during these roles has equipped me with the ability to
                        plan, execute, and coordinate tasks efficiently.
                    </p>
                    <p class="leading-7">
                        I am confident that these skills and passion for web development could help me to effectively
                        communicate value, engage stakeholders, and drive project success in the industry.
                    </p>
                </div>
            </div>
        </div>

        <hr *ngIf="isLearnMoreClicked" class="mt-6">

        <!-- Leisure and Lifestyle -->
        <div *ngIf="isLearnMoreClicked" class="fadein flex flex-col w-full space-y-4 my-12 max-w-6xl mx-auto">
            <h3 class="font-extrabold text-2xl text-slate-800 md:text-3xl">Leisure and Lifestyle</h3>
            <p class="leading-7">
                I'd be happy to tell you about my hobbies outside of coding.
            </p>
            <!-- Flex div -->
            <div
                class="flex flex-col-reverse w-full justify-between space-x-0 space-y-reverse space-y-6 mt-6 md:flex-row md:space-x-6 md:space-y-0">
                <!-- Left Items -->
                <div class="flex flex-col w-full space-y-4 md:w-1/2">
                    <p class="leading-7">
                        Guitar playing is something I enjoy. I really like metalcore music, and you might catch me both listening to and occasionally shredding along 🤘.
                    </p>
                    <p class="leading-7">
                        When I've got free time, I'm into watching anime, like 'One Piece', and sometimes I play mobile games, especially 'Call of Duty: Mobile'.
                    </p>
                    <p class="leading-7">
                        I'm all about balancing my interests and enjoying life to the fullest.
                        My hobbies not only fuels my creativity but also reflects my commitment to a well-rounded and
                        fulfilling lifestyle – a mindset that I bring into my web development journey, ensuring that
                        each project is approached with passion, and dedication.
                    </p>
                </div>
                <!-- Right Items -->
                <div class="w-full text-center h-full md:w-1/2">
                    <div class="wistia_responsive_padding" style="padding:56.67% 0 0 0;position:relative;">
                        <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                            <div class="wistia_embed wistia_async_jpnvqur43w seo=true videoFoam=true" style="height:100%;position:relative;width:100%">
                                <div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                    <img src="https://fast.wistia.com/embed/medias/jpnvqur43w/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-full mt-1 italic text-sm">
                        My guitar cover:  
                        <a href="https://www.youtube.com/watch?v=sh7n4TvXt5A" target="_blank" class="font-semibold">
                            "To Plant A Seed" by We Came As Romans
                        </a> 
                    </div>
                </div>
            </div>
        </div>

        <!-- Learn More/See Less Buttons -->
        <button (click)="toggleLearnMore()"
            [ngClass]="{'mt-4': isLearnMoreClicked}"
            class="scroll-reveal font-bold text-slate-600 text-lg self-start hover:text-slate-900">
            {{!isLearnMoreClicked? 'Learn more about me...': 'See less...'}}
        </button>
    </div>

</section>