<section id="about" class="w-full mx-auto py-20 px-4 bg-white scroll-m-[75px]">
    <div class="flex flex-col w-full max-w-6xl mx-auto">
        <h2 class="scroll-reveal font-extrabold text-3xl text-slate-800 md:text-4xl">ABOUT ME</h2>
        <div class="flex flex-col w-full space-y-4 my-6">
            <p class="scroll-reveal leading-7">
                Hello there! I'm Daryl Andres, a passionate individual who became a web developer through self-study.
                I'm on a journey of continuous learning in the vast world of web development.
                While my professional background is not directly aligned with this field, my dedication has driven me to
                create several personal projects that demonstrate my skills and passion for coding.
            </p>
            <p class="scroll-reveal leading-7">
                Although I've been comfortable as an independent learner, I am ready and excited to transition into a
                more team-oriented, collaborative environment. I am more than willing to contribute my skills and
                knowledge to a team, absorbing insights from experienced professionals, and adding value to any project
                I undertake.
            </p>
        </div>

        <!-- Technologies I've Worked With -->
        <div class="w-full my-12 max-w-6xl mx-auto">
            <h3 class="scroll-reveal font-extrabold text-2xl text-slate-800 md:text-3xl">Technologies I've worked with
            </h3>
            <!-- FRONTEND / BACKEND -->
            <div class="flex flex-col space-x-0 space-y-4 w-full mt-6 md:flex-row md:space-x-4 md:space-y-0">
                <!-- Frontend -->
                <div class="w-full shadow-md border scroll-reveal md:w-1/2">
                    <h4 class="bg-slate-900 text-white py-1 text-center font-bold">FRONTEND</h4>
                    <div class="flex flex-wrap justify-center items-center gap-4 py-4 md:space-y-0">
                        <div class="tech-icon">
                            <img class="w-16" src="../../../assets/tech-icon/html.png" alt="html icon">
                            <span class="tooltip">HTML</span>
                        </div>
                        <div class="tech-icon">
                            <img class="w-16" src="../../../assets/tech-icon/css.png" alt="css icon">
                            <span class="tooltip">CSS</span>
                        </div>
                        <div class="tech-icon">
                            <img class="w-16" src="../../../assets/tech-icon/scss.png" alt="scss icon">
                            <span class="tooltip">SCSS</span>
                        </div>
                        <div class="tech-icon">
                            <img class="w-16" src="../../../assets/tech-icon/javascript.png" alt="javascript icon">
                            <span class="tooltip">JavaScript</span>
                        </div>
                        <div class="tech-icon">
                            <img class="w-16" src="../../../assets/tech-icon/typescript.png" alt="typescript icon">
                            <span class="tooltip">TypeScript</span>
                        </div>
                        <div class="tech-icon">
                            <img class="w-16" src="../../../assets/tech-icon/angular.png" alt="angular icon">
                            <span class="tooltip">Angular</span>
                        </div>
                        <div class="tech-icon">
                            <img class="w-16" src="../../../assets/tech-icon/tailwindcss.png" alt="tailwindcss icon">
                            <span class="tooltip">Tailwind CSS</span>
                        </div>
                    </div>
                </div>
                <!-- Backend -->
                <div class="w-full shadow-md border scroll-reveal md:w-1/2">
                    <h4 class="bg-slate-900 text-white py-1 text-center font-bold">BACKEND</h4>
                    <div class="flex flex-wrap justify-center items-center space-x-4 py-4">
                        <div class="tech-icon">
                            <img class="w-16" src="../../../assets/tech-icon/python.png" alt="python icon">
                            <span class="tooltip">Python</span>
                        </div>
                        <div class="tech-icon">
                            <img class="w-16" src="../../../assets/tech-icon/django.png" alt="django icon">
                            <span class="tooltip">Django</span>
                        </div>
                        <div class="tech-icon">
                            <img class="w-16" src="../../../assets/tech-icon/django-rest-framework.png"
                                alt="django-rest-framework icon">
                            <span class="tooltip whitespace-nowrap">Django-Rest-Framework</span>
                        </div>
                        <div class="tech-icon">
                            <img class="w-16" src="../../../assets/tech-icon/postgresql.png" alt="postgresql icon">
                            <span class="tooltip">PostgreSQL</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- DEVOPS / TOOLS -->
            <div class="flex flex-col space-x-0 space-y-4 w-full mt-4 md:flex-row md:space-x-4 md:space-y-0">
                <div class="w-full shadow-md border scroll-reveal md:w-1/2">
                    <h4 class="bg-slate-900 text-white py-1 text-center font-bold">DEVOPS</h4>
                    <div class="flex flex-wrap justify-center items-center space-x-4 py-4">
                        <div class="tech-icon">
                            <img class="w-16" src="../../../assets/tech-icon/git.png" alt="Git icon">
                            <span class="tooltip">Git</span>
                        </div>
                        <div class="tech-icon">
                            <img class="w-16" src="../../../assets/tech-icon/github.png" alt="Github icon">
                            <span class="tooltip">Github</span>
                        </div>
                        <div class="tech-icon">
                            <img class="w-16" src="../../../assets/tech-icon/microsoft-azure.png"
                                alt="microsoft-azure icon">
                            <span class="tooltip">Azure</span>
                        </div>
                    </div>
                </div>
                <div class="w-full shadow-md border scroll-reveal md:w-1/2">
                    <h4 class="bg-slate-900 text-white py-1 text-center font-bold">TOOLS</h4>
                    <div class="flex flex-wrap justify-center items-center space-x-4 py-4">
                        <div class="tech-icon">
                            <img class="w-16" src="../../../assets/tech-icon/vscode.png" alt="vscode icon">
                            <span class="tooltip">VSCode</span>
                        </div>
                        <div class="tech-icon">
                            <img class="w-16" src="../../../assets/tech-icon/postman.jpg" alt="postman icon">
                            <span class="tooltip">Postman</span>
                        </div>
                        <div class="tech-icon">
                            <img class="w-16" src="../../../assets/tech-icon/npm.png" alt="npm icon">
                            <span class="tooltip">npm</span>
                        </div>
                        <div class="tech-icon">
                            <img class="w-16" src="../../../assets/tech-icon/pip.png" alt="pip icon">
                            <span class="tooltip">pip</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr *ngIf="isLearnMoreClicked" class="mt-6">

        <!-- Professional Background -->
        <div *ngIf="isLearnMoreClicked" class="fadein flex flex-col w-full space-y-4 my-12 max-w-6xl mx-auto">
            <h3 class="font-extrabold text-2xl text-slate-800 md:text-3xl">Professional Background</h3>
            <p class="leading-7">
                Though my formal job experience may seem unrelated, I've developed a set of transferable skills that
                I am confident will contribute effectively in this new environment.
            </p>
            <!-- Flex div -->
            <div
                class=" flex flex-col w-full justify-between space-x-0 space-y-6 mt-6 md:flex-row md:space-x-6 md:space-y-0">
                <!-- Left Item -->
                <div class="w-full md:w-1/2">
                    <div class="relative flex w-full text-center">
                        <figure class="w-full">
                            <img class="fadein" [src]="currentImage.src" alt="speaking engagement">
                        </figure>
                        <div
                            class="absolute flex self-center justify-between items-center w-full px-2 text-2xl text-white">
                            <div class="rounded px-4 py-2 bg-[rgba(0,0,0,0.5)]" (click)="previousImage()">
                                <fa-icon
                                    class="cursor-pointer opacity-50 shadow-lg rounded-full leading-none transition-all duration-300 hover:opacity-75"
                                    [icon]="faChevronLeft">
                                </fa-icon>
                            </div>
                            <div class="rounded px-4 py-2 bg-[rgba(0,0,0,0.5)]" (click)="nextImage()">
                                <fa-icon
                                    class="cursor-pointer opacity-50 shadow-lg rounded-full leading-none transition-all duration-300 hover:opacity-75"
                                    [icon]="faChevronRight">
                                </fa-icon>
                            </div>
                        </div>
                    </div>
                    <a [href]="currentImage.reference">
                        <p class="text-center italic mt-2 text-sm font-semibold">{{currentImage.title}}</p>
                    </a>
                </div>
                <!-- Right Items -->
                <div class="flex flex-col w-full space-y-4 md:w-1/2">
                    <p class="leading-7">
                        In my role at the DTI-Rizal, I organized training sessions and
                        occasionally served as a speaker for entrepreneurial seminars.
                        Additionally, I provided assistance to MSME clients, guiding them through the business
                        registration
                        and compliance processes.
                    </p>
                    <p class="leading-7">
                        These engagements have honed my verbal communication, presentation, and effective speaking
                        skills,
                        allowing me explain complex technical ideas in an easy-to-understand way.
                        Also, my experience in project management during these roles has equipped me with the ability to
                        plan, execute, and coordinate tasks efficiently.
                    </p>
                    <p class="leading-7">
                        I am confident that these skills and passion for web development could help me to effectively
                        communicate value, engage stakeholders, and drive project success in the industry.
                    </p>
                </div>
            </div>
        </div>

        <hr *ngIf="isLearnMoreClicked" class="mt-6">

        <!-- Leisure and Lifestyle -->
        <div *ngIf="isLearnMoreClicked" class="fadein flex flex-col w-full space-y-4 my-12 max-w-6xl mx-auto">
            <h3 class="font-extrabold text-2xl text-slate-800 md:text-3xl">Leisure and Lifestyle</h3>
            <!-- Flex div -->
            <div
                class="flex flex-col-reverse w-full justify-between space-x-0 space-y-reverse space-y-6 mt-6 md:flex-row md:space-x-6 md:space-y-0">
                <!-- Left Items -->
                <div class="flex flex-col w-full space-y-4 md:w-1/2">
                    <p class="leading-7">
                        Guitar playing is something I enjoy. I really like metalcore music, and you might catch me both
                        listening to and occasionally shredding along 🤘.
                    </p>
                    <p>
                        I also hit the gym from time to time to stay active. 💪
                    </p>
                    <p class="leading-7">
                        I enjoy watching anime and playing 'Call of Duty: Mobile' in my free time.
                    </p>
                    <p class="leading-7">
                        I balance interests, enjoy life fully, and bring passion to web development projects.
                    </p>
                </div>
                <!-- Right Items -->
                <div class="w-full text-center h-full md:w-1/2">
                    <div class="wistia_responsive_padding" style="padding:56.67% 0 0 0;position:relative;">
                        <div class="wistia_responsive_wrapper"
                            style="height:100%;left:0;position:absolute;top:0;width:100%;">
                            <div class="wistia_embed wistia_async_jpnvqur43w seo=true videoFoam=true"
                                style="height:100%;position:relative;width:100%">
                                <div class="wistia_swatch"
                                    style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                    <img src="https://fast.wistia.com/embed/medias/jpnvqur43w/swatch"
                                        style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt=""
                                        aria-hidden="true" onload="this.parentNode.style.opacity=1;" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-full mt-1 italic text-sm">
                        My guitar cover:
                        <a href="https://www.youtube.com/watch?v=sh7n4TvXt5A" target="_blank" class="font-semibold">
                            "To Plant A Seed" by We Came As Romans
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Learn More/See Less Buttons -->
        <button (click)="toggleLearnMore()" [ngClass]="{'mt-4': isLearnMoreClicked}"
            class="scroll-reveal font-bold text-slate-600 text-lg self-start hover:text-slate-900">
            {{!isLearnMoreClicked? 'Learn more about me...': 'See less...'}}
        </button>
    </div>

</section>