<section id="projects" class="w-full mx-auto bg-white text-white">
    <div class="w-full max-w-7xl mx-auto px-4">
        <h2 class="w-full font-bold text-4xl text-slate-900 pt-20 pb-4">PERSONAL PROJECTS</h2>
    </div>
    <div class="w-full bg-slate-900 space-y-4 py-14">
        <!-- Flex Container -->
        <div class="flex flex-col w-full max-w-7xl mx-auto px-4">
            <div class="flex flex-col space-y-4 space-x-0 md:flex-row md:space-y-0 md:space-x-4">
                <!-- Left Item -->
                <div class="flex flex-col justify-between p-4 space-y-8 rounded-xl border-2 border-white w-full md:w-1/2">
                    <!-- INVENIA+ -->
                    <div>
                        <h4 class="font-extrabold text-4xl text-center">
                            INVENIA+
                        </h4>
                        <div class="mt-4">
                            <img src="../../../assets/img/invenia_laptop_view.png" alt="">
                        </div>
                        <p class="leading-7 mt-4">
                            This inventory management system with POS simplifies transactions and enhances business operations.
                            It integrates practical functionality for efficient inventory tracking and seamless point-of-sale transactions
                        </p>
                        <div class="mt-6">
                            <h5 class="font-medium">DEVELOPMENT TOOLS</h5>
                            <ul class="px-6 mt-2 space-y-1">
                                <li>Angular, Typescript</li>
                                <li>Django, Python</li>
                                <li>Tailwindcss</li>
                                <li>Postgresql</li>
                            </ul>
                        </div>
                    </div>
                    <a class="px-8 py-4 rounded-md bg-white text-slate-900 text-center font-bold hover:bg-slate-200 transition-all duration-300"
                        target="_blank"
                        href="https://invenia.darylandres.com/">
                        VIEW PROJECT
                    </a>
                </div>
                <!-- Right item -->
                <div class="flex flex-col justify-between p-4 space-y-8 rounded-xl border-2 border-white w-full md:w-1/2">
                    <!-- QRLINK -->
                    <div>
                        <h4 class="font-extrabold text-4xl text-center">
                            QRLINK
                        </h4>
                        <div class="mt-4">
                            <img src="../../../assets/img/qrlink_laptop_view.png" alt="">
                        </div>
                        <p class="leading-7 mt-4">
                            QR Code Generator with URL Shortener. Generates customized QR codes while utilizing a third-party API for efficient URL shortening.
                        </p>
                        <div class="mt-6">
                            <h5 class="font-medium">DEVELOPMENT TOOLS</h5>
                            <ul class="px-6 mt-2 space-y-1">
                                <li>HTML, CSS, JavaScript</li>
                                <li>Tailwindcss</li>
                            </ul>
                        </div>
                    </div>
                    <a class="px-8 py-4 rounded-md bg-white text-slate-900 text-center font-bold hover:bg-slate-200 transition-all duration-300"
                        target="_blank"
                        href="https://qrlink-maker.darylandres.com/">
                        VIEW PROJECT
                    </a>
                </div>
            </div>
        </div>

        <!-- Flex Container -->
        <div class="flex flex-col w-full max-w-7xl mx-auto px-4">
            <div class="flex flex-col space-y-4 space-x-0 md:flex-row md:space-y-0 md:space-x-4">
                <!-- Left Item -->
                <div class="flex flex-col justify-between p-4 space-y-8 rounded-xl border-2 border-white w-full md:w-1/2">
                    <!-- NC ANTIPOLO PORTAL -->
                    <div>
                        <h4 class="font-extrabold text-4xl text-center">
                            NC ANTIPOLO PORTAL
                        </h4>
                        <div class="mt-4">
                            <img src="../../../assets/img/nca-web_laptop_view.png" alt="">
                        </div>
                        <p class="leading-7 mt-4">
                            This portal provides the services of Negosyo Center Antipolo accessible support for businesses in the city.
                            It offers resources, business registration assistance, and advisory services to facilitate the growth and development of MSMEs.
                        </p>
                        <div class="mt-6">
                            <h5 class="font-medium">DEVELOPMENT TOOLS</h5>
                            <ul class="px-6 mt-2 space-y-1">
                                <li>HTML, CSS, JavaScript</li>
                                <li>Django, Python</li>
                                <li>Tailwindcss</li>
                            </ul>
                        </div>
                    </div>
                    <small class="italic">
                        This is a mock/prototype project created for demonstration purposes.
                        It does not represent a fully implemented or operational system but showcases design and conceptualization skills.
                    </small>
                    <a class="px-8 py-4 rounded-md bg-white text-slate-900 text-center font-bold hover:bg-slate-200 transition-all duration-300"
                        target="_blank"
                        href="https://negosyocenter-antipolo.azurewebsites.net/">
                        VIEW PROJECT
                    </a>
                </div>
                <!-- Right item -->
                <div class="flex flex-col justify-between p-4 space-y-8 rounded-xl border-2 border-white w-full md:w-1/2">
                    <!-- NC-WEBTOOL -->
                    <div>
                        <h4 class="font-extrabold text-4xl text-center">
                            NC-WEBTOOL
                        </h4>
                        <div class="mt-4">
                            <img src="../../../assets/img/bndesc_laptop_view.png" alt="">
                        </div>
                        <p class="leading-7 mt-4">
                            This website is a practical tool for DTI-Rizal business counselors, offering a resource hub to support informed guidance for businesses and enhance the counseling process.
                        </p>
                        <div class="mt-6">
                            <h5 class="font-medium">DEVELOPMENT TOOLS</h5>
                            <ul class="px-6 mt-2 space-y-1">
                                <li>HTML, CSS, JavaScript</li>
                            </ul>
                        </div>
                    </div>
                    <a class="px-8 py-4 rounded-md bg-white text-slate-900 text-center font-bold hover:bg-slate-200 transition-all duration-300"
                        target="_blank"
                        href="https://bndesc-finder.darylandres.com/">
                        VIEW PROJECT
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>