<section id="projects" class="w-full mx-auto bg-gray-900 text-white">
    <div class="w-full max-w-7xl mx-auto px-4 py-20">
        <h2 class="w-full font-extrabold text-3xl md:text-4xl">PERSONAL PROJECTS</h2>
        <!-- INVENIA+ -->
        <div class="project-container flex flex-col-reverse justify-between items-center mt-12 px-6 py-8 space-y-reverse space-y-4 rounded-xl border-2 border-white w-full md:flex-row md:space-x-6 md:space-y-0">
            <div class="w-full md:w-1/2">
                <h4 class="font-extrabold text-3xl text-center md:text-4xl">
                    INVENIA+
                </h4>
                <p class="leading-7 mt-4">
                    This inventory management system with POS simplifies transactions and enhances business
                    operations.
                    It integrates practical functionality for efficient inventory tracking and seamless
                    point-of-sale transactions
                </p>
                <div class="mt-6">
                    <h5 class="text-lg font-medium">DEVELOPMENT TOOLS</h5>
                    <ul class="px-6 mt-2 space-y-1 list-disc">
                        <li class="dev-tool -translate-x-full">Angular, Typescript</li>
                        <li class="dev-tool -translate-x-full">Django, Python</li>
                        <li class="dev-tool -translate-x-full">Tailwindcss</li>
                        <li class="dev-tool -translate-x-full">Postgresql</li>
                    </ul>
                </div>
                <div class="flex mt-10 space-x-2 w-full">
                    <a class="w-1/2 px-8 py-4 rounded-md bg-white text-slate-900 text-center font-bold hover:bg-slate-200 transition-all duration-300"
                        target="_blank" href="https://invenia.darylandres.com/">
                        Visit Site
                    </a>
                    <a class="w-1/2 px-8 py-4 rounded-md bg-white text-slate-900 text-center font-bold hover:bg-slate-200 transition-all duration-300"
                        target="_blank" href="https://github.com/rylCodes/Inventory-Management-System">
                        Source Code
                    </a>
                </div>
            </div>
            <div class="w-full md:flex-1">
                <img class="" src="../../../assets/img/invenia_laptop_view.png" alt="">
            </div>
        </div>

        <!-- QRLINK -->
        <div class="project-container flex flex-col justify-between items-center mt-12 px-6 py-8 space-y-4 rounded-xl border-2 border-white w-full md:flex-row md:space-x-6 md:space-y-0">
            <!-- Laptop -->
            <div class="w-full md:flex-1">
                <img class="" src="../../../assets/img/qrlink_laptop_view.png" alt="">
            </div>

            <div class="w-full md:w-1/2">
                <h4 class="font-extrabold text-3xl text-center md:text-4xl">
                    QRLINK
                </h4>
                <p class="leading-7 mt-4">
                    QR Code Generator with URL Shortener. Generates customized QR codes while utilizing a
                    third-party API for efficient URL shortening.
                </p>
                <div class="mt-6">
                    <h5 class="text-lg font-medium">DEVELOPMENT TOOLS</h5>
                    <ul class="px-6 mt-2 space-y-1 list-disc">
                        <li class="dev-tool -translate-x-full md:translate-x-full">HTML, CSS, JavaScript</li>
                        <li class="dev-tool -translate-x-full md:translate-x-full">Tailwindcss</li>
                    </ul>
                </div>
                <!-- Buttons -->
                <div class="flex mt-10 space-x-2 w-full">
                    <a class="w-1/2 px-8 py-4 rounded-md bg-white text-slate-900 text-center font-bold hover:bg-slate-200 transition-all duration-300"
                        target="_blank" href="https://qrlink-maker.darylandres.com/">
                        Visit Site
                    </a>
                    <a class="w-1/2 px-8 py-4 rounded-md bg-white text-slate-900 text-center font-bold hover:bg-slate-200 transition-all duration-300"
                        target="_blank" href="https://github.com/rylCodes/qrcode-generator">
                        Source Code
                    </a>
                </div>
            </div>
        </div>

        <!-- NC ANTIPOLO PORTAL -->
        <div class="project-container flex flex-col-reverse justify-between items-center mt-12 px-6 py-8 space-y-reverse space-y-4 rounded-xl border-2 border-white w-full md:flex-row md:space-x-6 md:space-y-0">
            <div class="w-full md:w-1/2">
                <h4 class="font-extrabold text-3xl text-center md:text-4xl">
                    NC ANTIPOLO PORTAL
                </h4>
                <p class="leading-7 mt-4">
                    This portal provides the services of Negosyo Center Antipolo accessible support for
                    businesses in the city.
                    It offers resources, business registration assistance, and advisory services to facilitate
                    the growth and development of MSMEs.
                </p>
                <div class="mt-6">
                    <h5 class="text-lg font-medium">DEVELOPMENT TOOLS</h5>
                    <ul class="px-6 mt-2 space-y-1 list-disc">
                        <li class="dev-tool -translate-x-full">HTML, CSS, JavaScript</li>
                        <li class="dev-tool -translate-x-full">Django, Python</li>
                        <li class="dev-tool -translate-x-full">Tailwindcss</li>
                    </ul>
                </div>

                <div class="italic text-xs mt-4">
                    This is a mock/prototype project created for demonstration purposes.
                    It does not represent a fully implemented or operational system but showcases design and
                    conceptualization skills.
                </div>
                <!-- Buttons -->
                <div class="flex mt-10 space-x-2 w-full">
                    <a class="w-1/2 px-8 py-4 rounded-md bg-white text-slate-900 text-center font-bold hover:bg-slate-200 transition-all duration-300"
                        target="_blank" href="https://negosyocenter-antipolo.azurewebsites.net/">
                        Visit Site
                    </a>
                    <a class="w-1/2 px-8 py-4 rounded-md bg-white text-slate-900 text-center font-bold hover:bg-slate-200 transition-all duration-300"
                        target="_blank" href="https://github.com/rylCodes/nc-antipolo-website">
                        Source Code
                    </a>
                </div>
            </div>
            <!-- Laptop Image -->
            <div class="w-full md:flex-1">
                <img class="" src="../../../assets/img/nca-web_laptop_view.png" alt="">
            </div>
        </div>

        <!-- NC-WEBTOOL -->
        <div class="project-container flex flex-col justify-between items-center mt-12 px-6 py-8 space-y-4 rounded-xl border-2 border-white w-full md:flex-row md:space-x-6 md:space-y-0">
            <!-- Laptop Image -->
            <div class="w-full md:flex-1">
                <img class="" src="../../../assets/img/bndesc_laptop_view.png" alt="">
            </div>

            <div class="w-full md:w-1/2">
                <h4 class="font-extrabold text-3xl text-center md:text-4xl">
                    NC-WEBTOOL
                </h4>
                <p class="leading-7 mt-4">
                    This website is a practical tool for DTI-Rizal business counselors, offering a resource hub
                    to support informed guidance for businesses and enhance the counseling process.
                </p>
                <div class="mt-6">
                    <h5 class="text-lg font-medium">DEVELOPMENT TOOLS</h5>
                    <ul class="px-6 mt-2 space-y-1 list-disc">
                        <li class="dev-tool -translate-x-full md:translate-x-full">HTML, CSS, JavaScript</li>
                    </ul>
                </div>
                <!-- Buttons -->
                <div class="flex mt-10 space-x-2 w-full">
                    <a class="w-1/2 px-8 py-4 rounded-md bg-white text-slate-900 text-center font-bold hover:bg-slate-200 transition-all duration-300"
                        target="_blank" href="https://bndesc-finder.darylandres.com/">
                        Visit Site
                    </a>
                    <a class="w-1/2 px-8 py-4 rounded-md bg-white text-slate-900 text-center font-bold hover:bg-slate-200 transition-all duration-300"
                        target="_blank" href="https://github.com/rylCodes/BN-Descriptors">
                        Source Code
                    </a>
                </div>
            </div>
        </div>

    </div>
</section>